@import url("https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap");

body {
  font-family: "Wittgenstein", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pink {
  color: rgb(229, 84, 115);
}

.beatiful-flower-section {
  height: 850px;
  width: 1657px;

  margin: 0 auto;
  background: rgba(229, 84, 115, 0.1);
}

.beautyful-section {
  height: 850px;
  width: 1657px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 120px;
}

.beautyful-content h1 {
  color: rgb(39, 39, 39);

  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
  letter-spacing: 0%;
}

.beautyful-content p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
 
  padding: 32px 0;
}

.banner-flower img {
  width: 600px;
  height: 700px;
  box-shadow: rgba(236, 11, 150, 0.35) 0px 5px 15px;
  border-radius: 5px 100px 5px 100px;
}

.beautyful-content button {
  border-radius: 8px;
  padding: 20px 43px 20px 43px;

  background: rgb(229, 84, 115);
  border: none;
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

/*todo choose-flower */

.flower-item {
  margin: 120px 0 120px 0;
}

.choose-flower {
  width: 1400px;
  height: 800px;
  margin: 0 auto;
  text-align: center;
}

.choose-flower h2 {
  color: rgb(39, 39, 39);

  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.choose-flower p {
  color: rgba(39, 39, 39, 0.6);

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding: 50px 0 40px 0;
}

.flower-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.image-flower {
  width: 464px;
  height: 538px;
}

.image-flower img {
  height: 100%;
  width: 100%;
  border-radius: 50% 50% 0 0;
}

.image-flower p {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration-line: underline;
  padding-top: 32px;
}

.Fresh-Flowers {
  width: 1680px;
  height: 350px;
  background: rgba(39, 39, 39, 0.05);
  margin: 0 auto;
}

.image-freash-flower {
  width: 1680px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
}

.flower-image {
  text-align: center;
}

.flower-image p {
  color: rgba(39, 39, 39, 0.8);

  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
}

/* Hot Deal ! Sale Up To 25% Off */
.hot-deal {
  width: 1680px;
  height: 550px;
  background: rgba(229, 84, 115, 0.05);
  margin: 0 auto;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hot-content {
  text-align: center;
}

.hot-content h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.hot-content p {
  color: rgba(39, 39, 39, 0.6);

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 0 32px 0;
}

.red {
  color: rgb(229, 84, 115);
}

.hot-content button {
  padding: 20px 43px 20px 43px;
  border-radius: 8px;

  background: rgb(229, 84, 115);
  color: rgb(255, 255, 255);

  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;

  border: none;
}

/* instragram-section */
.instragram-section-describe {
  margin: 120px 0;
}

.instragram-section {
  width: 1400px;
  height: 600px;
  margin: 0 auto;
  
}

.choice-flower h2 {
  color: rgb(39, 39, 39);

  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.choice-flower p {
  color: rgba(39, 39, 39, 0.6);

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding: 50px 0 40px 0;
}
.flower-section{
  
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;


}
.flower-images img{
  width: 100%;

}




/* Get The Latest Deals */
.dealship {
  margin-bottom: 120px;
}

.deals {
  background-image: url("./images/latest-deals-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 1400px;
  margin: 0 auto;
 
}

.latest-deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 1400px;
}

.latest-deals h2 {
  color: rgb(39, 39, 39);

  font-size: 36px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.latest-deals p {
  color: rgba(39, 39, 39, 0.6);

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0 48px 0;
}

.btn {
  display: flex;
  width: 50%;
  gap: 15px;
}

.latest-deals input[type="text"] {
  width: 100%;
  padding: 20px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  
  border: none;
  border-radius: 5px;
}

.btn button {
  border-radius: 8px;
  padding: 10px 18px;
  color: rgb(255, 255, 255);

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  
  border: none;

  background: rgb(229, 84, 115);
}

/* footer-section */
.footer-section {
  height: 350px;
  width: 1657px;
  background: rgb(17, 16, 16);
  margin: 0 auto;
}

.FlowerShop {
  height: 350px;
  width: 1657px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.FlowerShop h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0%;
  
}

.FlowerShop p {
  color: rgba(255, 255, 255, 0.9);

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 0 32px 0;
}

.FlowerShop small {
  color: rgba(255, 255, 255, 0.4);

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}
